.rect {
  box-sizing: border-box;
  border: 6px solid white;
  background-color: #fafafa;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: bold;
  padding: 5px;
}

.smallInner:first-child {
  font-size: 24px;
}

.small {
  width: 20%;
  font-size: 30px;
}

.rect.side {
  font-size: 70px;
}

.smallInner {
  width: 100%;
  height: 100%;
  font-size: 30px;
}

.big {
  width: 60%;
  font-size: 120px;
  color: #70fd56;
}

.big:hover {
  background-color: #70fd56;
  color: white;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.col {
  display: block;
  width: 20%;
  height: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  flex: 1;
}

.row34 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex: 2;
}

.turquoise {
  color: #3ad5c4;
}

.turquoiseTop {
  color: white;
  background-color: #3ad5c4;
  display: none;
}

.purple {
  color: #ab53c4;
}

.purpleTop {
  background-color: #ab53c4;
  color: white;
  display: none;
}

.yellow {
  color: #e9ef00;
}

.yellowTop {
  background-color: #e9ef00;
  color: white;
  display: none;
}

.green {
  color: #70fd56;
}

.greenTop {
  background-color: #70fd56;
  color: white;
  display: none;
}

.pink {
  color: #fd45a5;
}

.pinkTop {
  background-color: #fd45a5;
  color: white;
  display: none;
}

.blue {
  color: #0a4bb8;
}

.blueTop {
  background-color: #0a4bb8;
  color: white;
  display: none;
}

.bigTop {
  width: 60%;
  font-size: 120px;
  background-color: #70fd56;
  color: white;
  display: none;
}

.orange {
  color: #fd8425;
}

.orangeTop {
  background-color: #fd8425;
  color: white;
  display: none;
}

.solidgreen {
  background-color: #70fd56;
  font-size: 50px;
  color: white;
  position: relative !important;
}

.solidpink {
  background-color: #fd45a5;
  font-size: 50px;
  color: white;
  position: relative !important;
}

.solidblue {
  background-color: #0a4bb8;
  font-size: 50px;
  color: white;
  position: relative !important;
}

.solidpurple {
  background-color: #ab53c4;
  font-size: 50px;
  color: white;
  position: relative !important;
}

.wrapper {
  position: relative;
}

.wrapper:hover .turquoiseTop,
.wrapper:hover .yellowTop,
.wrapper:hover .greenTop,
.wrapper:hover .pinkTop,
.wrapper:hover .blueTop,
.wrapper:hover .orangeTop,
.wrapper:hover .bigTop {
  display: flex;
  position: absolute;
  top: 0;
}

.link-spanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/* MUSIC PAGE */

.music-page {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.tv-wrapper {
  position: relative;
  width: 50%;
}

.green-tv {
  width: 650px;
  height: 650px;
}

.pink-tv {
  width: 650px;
  height: 400px;
}

.left .video {
  position: absolute;
  top: 311px;
  left: 84px;
}

.right .video {
  position: absolute;
  top: 68px;
  left: 73px;
}

/* ART PAGE */

.art-page {
  width: 100%;
}

.gallery {
  width: 100%;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* MERCH PAGE */

.t-shirt {
  width: 400px;
}
